sdlc-agent/n8n-workflow-1-start.json
{
  "name": "SDLC - 1. Start Pipeline (New Issue)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-start",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Issue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "sdlc-start"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ ($json.body.action === 'opened' || $json.body.action === 'assigned') && ($json.body.issue.assignees || []).some(a => a.login === 'support-accellier') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-opened",
      "name": "IF Issue Opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "BA Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-ba-awaiting",
      "name": "Set Milestone BA Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "BA Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-ba-working",
      "name": "Set Milestone BA Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/ba-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "options": {
          "timeout": 300000
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "requirement",
              "value": "={{ $('GitHub Issue Webhook').item.json.body.issue.title + ' ' + ($('GitHub Issue Webhook').item.json.body.issue.body ?? '') }}"
            }
          ]
        }
      },
      "id": "ba-agent",
      "name": "BA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        220
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Issue Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Issue Webhook').item.json.body.issue.number }}",
        "body": "=## 🤖 BA Agent — Business Requirements Document\n\n**Session:** `{{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Issue Webhook').item.json.body.repository.name }}-{{ $('GitHub Issue Webhook').item.json.body.issue.number }}`\n**Next step:** Review the BRD below, then comment `approve` to proceed to Solution Architect.\n\n---\n\n{{ $json.brd }}\n\n---\n\n*Needs clarification: {{ $json.needs_clarification }}*"
      },
      "id": "comment-brd",
      "name": "Comment BRD on Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        940,
        220
      ]
    }
  ],
  "connections": {
    "GitHub Issue Webhook": {
      "main": [
        [
          {
            "node": "IF Issue Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Issue Opened": {
      "main": [
        [
          {
            "node": "Set Milestone BA Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set Milestone BA Awaiting Approval": {
      "main": [
        [
          {
            "node": "Set Milestone BA Working",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone BA Working": {
      "main": [
        [
          {
            "node": "BA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BA Agent": {
      "main": [
        [
          {
            "node": "Comment BRD on Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sdlc"
    }
  ]
}
