sdlc-agent/n8n-workflow-2-approval.json
{
  "name": "SDLC - 2. Approval Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-approval",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "comment-trigger",
      "name": "GitHub Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "sdlc-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-created",
      "name": "IF Comment Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('approve') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('revise:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('redo-dev:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "redo-dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('reopen:') || $json.body.comment.body.trim().toLowerCase() === 'reopen' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reopen"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase() === 'skip-qa' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "skip-qa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('assign:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "assign"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('status') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch: command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-approve",
      "name": "Get Session (approve)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-approve",
      "name": "IF Session Found (approve)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        -620
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-revise",
      "name": "Get Session (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-revise",
      "name": "IF Session Found (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-redo",
      "name": "Get Session (redo-dev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-redo",
      "name": "IF Session Found (redo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        1180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "ba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "sa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "dev",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-stage"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "deploy-stage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-prod"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-approve",
      "name": "Switch Stage (approve)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        -620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "ba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-ba"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "sa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-pm"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-revise",
      "name": "Switch Stage (revise)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "SA Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-sa-working",
      "name": "Set Milestone SA Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "sa-agent",
      "name": "SA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -1100
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🏗️ Solution Architect — Solution Design Document (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '⚠️ Yes — see Section 11' : '✅ None' }}\n**Next step:** Review the SDD. Comment `approve` to proceed to PM, or `revise: <feedback>` to request changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa",
      "name": "Comment SA Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "SA Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-sa-awaiting",
      "name": "Set Milestone SA Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "PM Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-pm-working",
      "name": "Set Milestone PM Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "pm-agent",
      "name": "PM Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -940
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🤖 PM Agent — Project Plan\n\n**Dev ready:** {{ $json.dev_ready ? '✅ Yes' : '⏳ Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n{{ $json.created_issues && $json.created_issues.length > 0 ? '\\n### GitHub Issues Created\\n' + $json.created_issues.map(i => `- [#${i.issue_number} ${i.title}](${i.issue_url})`).join('\\n') : '' }}\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? '\\n### Cross-repo Issues Created\\n' + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || 'err'} ${i.issue_title}](${i.issue_url || '#'})`).join('\\n') : '' }}\n\n**Next step:** Review the plan, then comment `approve` to start development. You can also `revise: <feedback>` to change the task breakdown, or `assign: @username` to assign tasks.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm",
      "name": "Comment PM Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "PM Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-pm-awaiting",
      "name": "Set Milestone PM Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "DEV Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-dev-working",
      "name": "Set Milestone DEV Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "dev-agent",
      "name": "Dev Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -780
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 💻 Dev Agent — Implementation {{ $json.test_passed ? 'Complete' : 'Failed' }}\n\n**Tests:** {{ $json.test_passed ? '✅ Passing' : '❌ Failed' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n{{ $json.test_passed ? '' : '\\n> ⚠️ Tests failed after all retries. Use `redo-dev: <instructions>` to fix, or push a manual fix to the branch.\\n' }}{{ $json.pr_url ? '**PR:** ' + $json.pr_url : ($json.pr_error ? '**PR:** ❌ ' + $json.pr_error + '\\n\\nTo create the PR manually:\\n```\\ncurl -X POST http://10.68.103.135:5001/create-pr -H \"Content-Type: application/json\" -d \\'{\"session_id\": \"{{ $json.session_id || $(\\'GitHub Comment Webhook\\').item.json.body.repository.owner.login + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.repository.name + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.issue.number }}\"}\\'\\n```' : '') }}\n\n{{ $json.conflicting_prs && $json.conflicting_prs.length > 0 ? '\\n---\\n⚠️ **Potential merge conflicts detected**\\nThe following open PRs touch the same files:\\n' + $json.conflicting_prs.map(p => `- [#${p.number} ${p.title}](${p.url}) — overlapping files: ${p.overlap.join(', ')}`).join('\\n') + '\\n\\nReview the order you merge these. The second merge will likely need a rebase.' : '' }}\n\n{{ $json.test_passed ? '**Next step:** Comment `approve` to deploy to stage.' : '**Next step:** Fix the test failures, then comment `redo-dev: <what you fixed>` to re-run.' }}"
      },
      "id": "comment-dev",
      "name": "Comment Dev Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "DEV Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-dev-awaiting",
      "name": "Set Milestone DEV Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/ba-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ba-revise",
      "name": "BA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "sa-revise",
      "name": "SA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "pm-revise",
      "name": "PM Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"redo_instructions\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^redo-dev:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "dev-redo",
      "name": "Dev Agent (redo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/reopen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"reason\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^reopen:?/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "reopen-agent",
      "name": "Reopen (BA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/skip-qa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "skip-qa-agent",
      "name": "Skip QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/assign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"assignee\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^assign:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "assign-agent",
      "name": "Assign Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 📋 BA Agent — Revised BRD\n\n**Needs clarification:** {{ $json.needs_clarification ? '⚠️ Yes — see Section 14' : '✅ No' }}\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-ba-revise",
      "name": "Comment BA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        280
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🏗️ Solution Architect — Revised SDD (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '⚠️ Yes — see Section 11' : '✅ None' }}\n**Next step:** Comment `approve` to proceed, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa-revise",
      "name": "Comment SA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        440
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🤖 PM Agent — Revised Plan\n\n**Dev ready:** {{ $json.dev_ready ? '✅ Yes' : '⏳ Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? \"### Cross-repo Issues Created\\n\" + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || \"err\"} ${i.issue_title}](${i.issue_url || \"#\"})`).join(\"\\n\") + \"\\n\\n\" : \"\" }}**Next step:** Comment `approve` to start development, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm-revise",
      "name": "Comment PM Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        600
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🔄 Dev Agent — Re-implementation\n\n**Tests:** {{ $json.test_passed ? '✅ Passing' : '❌ Failing' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n**PR:** {{ $json.pr_url }}\n\n### Summary\n{{ $json.summary }}\n\n**Next step:** Comment `approve` for stage deployment, or `redo-dev: <more instructions>` for another pass."
      },
      "id": "comment-dev-redo",
      "name": "Comment Dev Redo",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🔁 Pipeline Reopened — Back to BA\n\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-reopen",
      "name": "Comment Reopen",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## ✅ QA Skipped — Manually Approved\n\n**STAGE gate:** OPEN\n**PROD gate:** BLOCKED (verify on STAGE first)\n**Pipeline:** Ready for STAGE deployment.\n\n{{ $json.qa_output }}"
      },
      "id": "comment-skip-qa",
      "name": "Comment Skip QA",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1500
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 👤 Issues Assigned\n\n**Assignee:** @{{ $json.assignee }}\n**Issues assigned:** {{ $json.results.filter(r => r.assigned).length }} / {{ $json.results.length }}\n\n{{ $json.results.map(r => r.assigned ? `- ✅ #${r.issue} assigned` : `- ❌ #${r.issue} failed: ${r.error}`).join('\\n') }}"
      },
      "id": "comment-assign",
      "name": "Comment Assign",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## ⚠️ SDLC Pipeline — Session not found\n\nCould not find session `{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}`. Make sure the pipeline was started by opening the issue first."
      },
      "id": "comment-no-session",
      "name": "Comment No Session",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        960,
        1980
      ]
    },
    {
      "id": "status-request-001",
      "name": "Get Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1820
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "status-comment-001",
      "name": "Comment Status",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1820
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "={{ $json.status === 'success' ? $json.summary : '❌ Could not retrieve status: ' + $json.message }}"
      },
      "credentials": {}
    },
    {
      "id": "verify-sig-001",
      "name": "Verify Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.WEBHOOK_SECRET || '';\nif (!secret) return [{json: $input.item.json}]; // skip if no secret configured\n\nconst sig = $input.item.json.headers?.['x-hub-signature-256'] || '';\nconst body = JSON.stringify($input.item.json.body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nif (sig !== expected) {\n  throw new Error('Invalid webhook signature — request rejected');\n}\nreturn [{json: $input.item.json}];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Deploy / Complete"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-deploy-complete",
      "name": "Set Milestone Deploy Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -140
      ]
    },
    {
      "id": "deploy-stage-request",
      "name": "Call Deploy Stage Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -140
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "stage"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-stage-comment",
      "name": "Comment Deploy Stage Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -140
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🚀 Stage Deployment — {{ $json.overall_ok ? '✅ Success' : '❌ Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '✅' : '❌' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '✅ Passed' : '❌ Failed' }} {{ $json.smoke_output }}\n{{ $json.merge_result && $json.merge_result.merged ? '**PR:** Merged ✅' : '' }}\n\n**Next step:** {{ $json.overall_ok ? 'Comment `approve` to deploy to production.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    },
    {
      "id": "deploy-prod-request",
      "name": "Call Deploy Prod Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        20
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "prod"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-prod-comment",
      "name": "Comment Deploy Prod Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        20
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## 🎉 Production Deployment — {{ $json.overall_ok ? '✅ Complete' : '❌ Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '✅' : '❌' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '✅ Passed' : '❌ Failed' }}\n{{ $json.release_url ? '**Release:** ' + $json.release_url : '' }}\n{{ $json.branch_deleted ? '**Branch:** Cleaned up ✅' : '' }}\n\n{{ $json.overall_ok ? '🏁 Pipeline complete.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    }
  ],
  "connections": {
    "GitHub Comment Webhook": {
      "main": [
        [
          {
            "node": "IF Comment Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Comment Created": {
      "main": [
        [
          {
            "node": "Switch: command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch: command": {
      "main": [
        [
          {
            "node": "Get Session (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (redo-dev)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reopen (BA)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip QA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (approve)": {
      "main": [
        [
          {
            "node": "IF Session Found (approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (approve)": {
      "main": [
        [
          {
            "node": "Switch Stage (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (revise)": {
      "main": [
        [
          {
            "node": "IF Session Found (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (revise)": {
      "main": [
        [
          {
            "node": "Switch Stage (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (redo-dev)": {
      "main": [
        [
          {
            "node": "IF Session Found (redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (redo)": {
      "main": [
        [
          {
            "node": "Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (approve)": {
      "main": [
        [
          {
            "node": "Set Milestone SA Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone PM Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone DEV Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Deploy Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (revise)": {
      "main": [
        [
          {
            "node": "BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone SA Working": {
      "main": [
        [
          {
            "node": "SA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent": {
      "main": [
        [
          {
            "node": "Comment SA Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment SA Result": {
      "main": [
        [
          {
            "node": "Set Milestone SA Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone PM Working": {
      "main": [
        [
          {
            "node": "PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent": {
      "main": [
        [
          {
            "node": "Comment PM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment PM Result": {
      "main": [
        [
          {
            "node": "Set Milestone PM Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone DEV Working": {
      "main": [
        [
          {
            "node": "Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent": {
      "main": [
        [
          {
            "node": "Comment Dev Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Dev Result": {
      "main": [
        [
          {
            "node": "Set Milestone DEV Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BA Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment BA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment SA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment PM Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent (redo)": {
      "main": [
        [
          {
            "node": "Comment Dev Redo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reopen (BA)": {
      "main": [
        [
          {
            "node": "Comment Reopen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip QA": {
      "main": [
        [
          {
            "node": "Comment Skip QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Issues": {
      "main": [
        [
          {
            "node": "Comment Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipeline Status": {
      "main": [
        [
          {
            "node": "Comment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Deploy Complete": {
      "main": [
        [
          {
            "node": "Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Stage Agent": {
      "main": [
        [
          {
            "node": "Comment Deploy Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Prod Agent": {
      "main": [
        [
          {
            "node": "Comment Deploy Prod Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sdlc"
    }
  ]
}
