sdlc-agent/n8n-workflow-1-start.json
{
  "name": "SDLC - 1. Start Pipeline (New Issue)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-start",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Issue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sdlc-start"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-opened",
      "name": "IF Issue Opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/ba-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"owner\": {{ JSON.stringify($json.body.repository.owner.login) }},\n  \"repo\": {{ JSON.stringify($json.body.repository.name) }},\n  \"issue_number\": {{ $json.body.issue.number }},\n  \"requirement\": {{ JSON.stringify($json.body.issue.title + '\\n\\n' + ($json.body.issue.body || '')) }}\n}",
        "options": { "timeout": 300000 }
      },
      "id": "ba-agent",
      "name": "BA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 220]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Issue Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Issue Webhook').item.json.body.issue.number }}",
        "body": "=## 🤖 BA Agent — Business Requirements Document\n\n**Session:** `{{ $('GitHub Issue Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Issue Webhook').item.json.body.repository.name }}-{{ $('GitHub Issue Webhook').item.json.body.issue.number }}`\n**Next step:** Review the BRD below, then comment `approve` to proceed to Solution Architect.\n\n---\n\n{{ $json.brd }}\n\n---\n\n*Needs clarification: {{ $json.needs_clarification }}*"
      },
      "id": "comment-brd",
      "name": "Comment BRD on Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [940, 220]
    }
  ],
  "connections": {
    "GitHub Issue Webhook": {
      "main": [[{ "node": "IF Issue Opened", "type": "main", "index": 0 }]]
    },
    "IF Issue Opened": {
      "main": [
        [{ "node": "BA Agent", "type": "main", "index": 0 }],
        []
      ]
    },
    "BA Agent": {
      "main": [[{ "node": "Comment BRD on Issue", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "sdlc" }]
}
