sdlc-agent/n8n-workflow-2-approval.json
{
  "name": "SDLC - 2. Approval Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-approval",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "comment-trigger",
      "name": "GitHub Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "sdlc-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-created",
      "name": "IF Comment Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('approve') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('revise:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('redo-dev:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "redo-dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('reopen:') || $json.body.comment.body.trim().toLowerCase() === 'reopen' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reopen"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase() === 'skip-qa' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "skip-qa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('assign:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "assign"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('status') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch: command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-approve",
      "name": "Get Session (approve)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-approve",
      "name": "IF Session Found (approve)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        -620
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-revise",
      "name": "Get Session (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-revise",
      "name": "IF Session Found (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://10.68.103.135:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-redo",
      "name": "Get Session (redo-dev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-redo",
      "name": "IF Session Found (redo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        1180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.issue_type === 'Bug' && $json.session.stage === 'ba' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "bug-ba-to-dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.issue_type === 'Bug' && $json.session.stage === 'dev' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "bug-dev-to-deploy"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'ba' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'sa' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'pm' && !$json.session.config_only }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'dev' && !$json.session.config_only }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "review"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'review' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "qa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ ($json.session.issue_type === 'Feature' || !$json.session.issue_type) && $json.session.stage === 'qa' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-stage"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage === 'deploy-stage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-prod"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-approve",
      "name": "Switch Stage (approve)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        -620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "ba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-ba"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "sa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-pm"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-revise",
      "name": "Switch Stage (revise)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1440,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "SA Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-sa-working",
      "name": "Set Milestone SA Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "sa-agent",
      "name": "SA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -1100
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udfd7\ufe0f Solution Architect \u2014 Solution Design Document (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '\u26a0\ufe0f Yes \u2014 see Section 11' : '\u2705 None' }}\n**Next step:** Review the SDD. Comment `approve` to proceed to PM, or `revise: <feedback>` to request changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa",
      "name": "Comment SA Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "SA Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-sa-awaiting",
      "name": "Set Milestone SA Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "PM Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-pm-working",
      "name": "Set Milestone PM Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "pm-agent",
      "name": "PM Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -940
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 PM Agent \u2014 Project Plan\n\n**Dev ready:** {{ $json.dev_ready ? '\u2705 Yes' : '\u23f3 Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n{{ $json.created_issues && $json.created_issues.length > 0 ? '\\n### GitHub Issues Created\\n' + $json.created_issues.map(i => `- [#${i.issue_number} ${i.title}](${i.issue_url})`).join('\\n') : '' }}\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? '\\n### Cross-repo Issues Created\\n' + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || 'err'} ${i.issue_title}](${i.issue_url || '#'})`).join('\\n') : '' }}\n\n**Next step:** Review the plan, then comment `approve` to start development. You can also `revise: <feedback>` to change the task breakdown, or `assign: @username` to assign tasks.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm",
      "name": "Comment PM Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "PM Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-pm-awaiting",
      "name": "Set Milestone PM Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "DEV Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-dev-working",
      "name": "Set Milestone DEV Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\"\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "dev-agent",
      "name": "Dev Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -780
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udcbb Dev Agent \u2014 Implementation {{ $json.test_passed ? 'Complete' : 'Failed' }}\n\n**Tests:** {{ $json.test_passed ? '\u2705 Passing' : '\u274c Failed' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n{{ $json.test_passed ? '' : '\\n> \u26a0\ufe0f Tests failed after all retries. Use `redo-dev: <instructions>` to fix, or push a manual fix to the branch.\\n' }}{{ $json.pr_url ? '**PR:** ' + $json.pr_url : ($json.pr_error ? '**PR:** \u274c ' + $json.pr_error + '\\n\\nTo create the PR manually:\\n```\\ncurl -X POST http://10.68.103.135:5001/create-pr -H \"Content-Type: application/json\" -d \\'{\"session_id\": \"{{ $json.session_id || $(\\'GitHub Comment Webhook\\').item.json.body.repository.owner.login + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.repository.name + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.issue.number }}\"}\\'\\n```' : '') }}\n\n{{ $json.conflicting_prs && $json.conflicting_prs.length > 0 ? '\\n---\\n\u26a0\ufe0f **Potential merge conflicts detected**\\nThe following open PRs touch the same files:\\n' + $json.conflicting_prs.map(p => `- [#${p.number} ${p.title}](${p.url}) \u2014 overlapping files: ${p.overlap.join(', ')}`).join('\\n') + '\\n\\nReview the order you merge these. The second merge will likely need a rebase.' : '' }}\n\n{{ $json.test_passed ? '**Next step:** Comment `approve` to deploy to stage.' : '**Next step:** Fix the test failures, then comment `redo-dev: <what you fixed>` to re-run.' }}"
      },
      "id": "comment-dev",
      "name": "Comment Dev Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "DEV Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-dev-awaiting",
      "name": "Set Milestone DEV Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/ba-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "ba-revise",
      "name": "BA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "sa-revise",
      "name": "SA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "pm-revise",
      "name": "PM Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"redo_instructions\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^redo-dev:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "dev-redo",
      "name": "Dev Agent (redo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/reopen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"reason\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^reopen:?/i, '').trim()) }}\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "reopen-agent",
      "name": "Reopen (BA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/skip-qa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "skip-qa-agent",
      "name": "Skip QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/assign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"assignee\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^assign:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "assign-agent",
      "name": "Assign Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udccb BA Agent \u2014 Revised BRD\n\n**Needs clarification:** {{ $json.needs_clarification ? '\u26a0\ufe0f Yes \u2014 see Section 14' : '\u2705 No' }}\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-ba-revise",
      "name": "Comment BA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        280
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udfd7\ufe0f Solution Architect \u2014 Revised SDD (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '\u26a0\ufe0f Yes \u2014 see Section 11' : '\u2705 None' }}\n**Next step:** Comment `approve` to proceed, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa-revise",
      "name": "Comment SA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        440
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 PM Agent \u2014 Revised Plan\n\n**Dev ready:** {{ $json.dev_ready ? '\u2705 Yes' : '\u23f3 Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? \"### Cross-repo Issues Created\\n\" + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || \"err\"} ${i.issue_title}](${i.issue_url || \"#\"})`).join(\"\\n\") + \"\\n\\n\" : \"\" }}**Next step:** Comment `approve` to start development, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm-revise",
      "name": "Comment PM Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        600
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd04 Dev Agent \u2014 Re-implementation\n\n**Tests:** {{ $json.test_passed ? '\u2705 Passing' : '\u274c Failing' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n**PR:** {{ $json.pr_url }}\n\n### Summary\n{{ $json.summary }}\n\n**Next step:** Comment `approve` for stage deployment, or `redo-dev: <more instructions>` for another pass."
      },
      "id": "comment-dev-redo",
      "name": "Comment Dev Redo",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd01 Pipeline Reopened \u2014 Back to BA\n\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-reopen",
      "name": "Comment Reopen",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \u2705 QA Skipped \u2014 Manually Approved\n\n**STAGE gate:** OPEN\n**PROD gate:** BLOCKED (verify on STAGE first)\n**Pipeline:** Ready for STAGE deployment.\n\n{{ $json.qa_output }}"
      },
      "id": "comment-skip-qa",
      "name": "Comment Skip QA",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1500
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udc64 Issues Assigned\n\n**Assignee:** @{{ $json.assignee }}\n**Issues assigned:** {{ $json.results.filter(r => r.assigned).length }} / {{ $json.results.length }}\n\n{{ $json.results.map(r => r.assigned ? `- \u2705 #${r.issue} assigned` : `- \u274c #${r.issue} failed: ${r.error}`).join('\\n') }}"
      },
      "id": "comment-assign",
      "name": "Comment Assign",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1660
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \u26a0\ufe0f SDLC Pipeline \u2014 Session not found\n\nCould not find session `{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}`. Make sure the pipeline was started by opening the issue first."
      },
      "id": "comment-no-session",
      "name": "Comment No Session",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        960,
        1980
      ]
    },
    {
      "id": "status-request-001",
      "name": "Get Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        1820
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "status-comment-001",
      "name": "Comment Status",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1200,
        1820
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "={{ $json.status === 'success' ? $json.summary : '\u274c Could not retrieve status: ' + $json.message }}"
      },
      "credentials": {}
    },
    {
      "id": "verify-sig-001",
      "name": "Verify Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.WEBHOOK_SECRET || '';\nif (!secret) return [{json: $input.item.json}]; // skip if no secret configured\n\nconst sig = $input.item.json.headers?.['x-hub-signature-256'] || '';\nconst body = JSON.stringify($input.item.json.body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nif (sig !== expected) {\n  throw new Error('Invalid webhook signature \u2014 request rejected');\n}\nreturn [{json: $input.item.json}];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Deploy / Complete"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-deploy-complete",
      "name": "Set Milestone Deploy Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -140
      ]
    },
    {
      "id": "deploy-stage-request",
      "name": "Call Deploy Stage Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -140
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "stage"
            }
          ]
        },
        "options": {
          "timeout": 21600000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-stage-comment",
      "name": "Comment Deploy Stage Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -140
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\ude80 Stage Deployment \u2014 {{ $json.overall_ok ? '\u2705 Success' : '\u274c Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '\u2705' : '\u274c' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '\u2705 Passed' : '\u274c Failed' }} {{ $json.smoke_output }}\n{{ $json.merge_result && $json.merge_result.merged ? '**PR:** Merged \u2705' : '' }}\n\n**Next step:** {{ $json.overall_ok ? 'Comment `approve` to deploy to production.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    },
    {
      "id": "deploy-prod-request",
      "name": "Call Deploy Prod Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        20
      ],
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "prod"
            }
          ]
        },
        "options": {
          "timeout": 21600000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-prod-comment",
      "name": "Comment Deploy Prod Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        20
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udf89 Production Deployment \u2014 {{ $json.overall_ok ? '\u2705 Complete' : '\u274c Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '\u2705' : '\u274c' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '\u2705 Passed' : '\u274c Failed' }}\n{{ $json.release_url ? '**Release:** ' + $json.release_url : '' }}\n{{ $json.branch_deleted ? '**Branch:** Cleaned up \u2705' : '' }}\n\n{{ $json.overall_ok ? '\ud83c\udfc1 Pipeline complete.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Dev Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-bug-dev-working",
      "name": "Set Milestone Bug Dev Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\"\n}",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "bug-dev-agent",
      "name": "Bug Dev Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -1300
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udcbb Dev Agent \u2014 Bug Fix {{ $json.test_passed ? 'Complete' : 'Failed' }}\n\n**Tests:** {{ $json.test_passed ? '\u2705 Passing' : '\u274c Failed' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n{{ $json.pr_url ? '**PR:** ' + $json.pr_url : '' }}\n\n**Next step:** Comment `approve` to deploy."
      },
      "id": "comment-bug-dev",
      "name": "Comment Bug Dev Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Dev Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-bug-dev-awaiting",
      "name": "Set Milestone Bug Dev Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Review Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-review-working",
      "name": "Set Milestone Review Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/review-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "review-agent",
      "name": "Review Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -620
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd0d Review Agent \u2014 Code Review\n\n**Verdict:** {{ $json.verdict === 'PASS' ? '\u2705 PASS' : '\u274c FAIL' }}\n\n**Next step:** Comment `approve` to proceed to QA."
      },
      "id": "comment-review",
      "name": "Comment Review Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Review Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-review-awaiting",
      "name": "Set Milestone Review Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Test Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-qa-working",
      "name": "Set Milestone Test Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/qa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 21600000
        }
      },
      "id": "qa-agent",
      "name": "QA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -460
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \u2705 QA Agent \u2014 Test Report\n\n**Approved:** {{ $json.approved ? '\u2705 Yes' : '\u274c No' }}\n**Stage gate:** {{ $json.stage_gate }}\n\n**Next step:** Comment `approve` to deploy to stage."
      },
      "id": "comment-qa",
      "name": "Comment QA Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1920,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Test Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-qa-awaiting",
      "name": "Set Milestone Test Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "TRD Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-trd-working",
      "name": "Set Milestone TRD Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "TRD Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-trd-awaiting",
      "name": "Set Milestone TRD Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -1100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Planning Working"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-planning-working",
      "name": "Set Milestone Planning Working",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.68.103.135:5001/set-milestone",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "milestone_title",
              "value": "Planning Awaiting Approval"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "set-milestone-planning-awaiting",
      "name": "Set Milestone Planning Awaiting Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        -940
      ]
    },
    {
      "id": "0e6a97d5-d1cd-44ae-a9f1-f75776a28ed4",
      "name": "Limit? SA Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -1100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "00f64764-e5c6-47a4-bdf3-8f1fe09d92dd",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9d9bb9f7-5068-44f6-9591-3e4d3b7bd001",
      "name": "Wait SA Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -920
      ],
      "webhookId": "91a8963a-ed17-4b35-bff2-cc828dccaba3",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "8d142bb1-2036-4a04-ae80-ea0c04e3131b",
      "name": "Limit? PM Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -940
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eccc25e3-83b2-4393-ab14-75a86a52f77a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9ed274aa-bd0c-48e2-bf04-13e3aea6aa75",
      "name": "Wait PM Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -760
      ],
      "webhookId": "5dd3e333-b482-41a8-9551-336cec9a730c",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "f270e80e-bc9b-4699-82ca-53abcf9af48b",
      "name": "Limit? Dev Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -780
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8343a8a6-ea13-47ec-9972-9c5f4578ce81",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9dff2f0b-6ab0-4450-a74a-b981c3ce1a61",
      "name": "Wait Dev Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -600
      ],
      "webhookId": "626d9063-e81d-4cf5-a247-00b86e4c895f",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "54fb9c9c-539e-4f61-90fe-c18c53e1653b",
      "name": "Limit? BA Agent (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        280
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9c077d8-74ab-460d-ae0f-b5423a1a23be",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "61795833-efce-4e9c-8306-7761fe26a623",
      "name": "Wait BA Agent (revise)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        460
      ],
      "webhookId": "e9eb89b7-8ab6-4351-8b9e-94a38dc53201",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "376f6de5-9b33-4462-81b8-7c3a3c93474f",
      "name": "Limit? SA Agent (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e4897f7-93d0-47f0-8918-f82db72d1749",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "32f621c2-61e1-44b9-8bcf-26c5f6e8e53e",
      "name": "Wait SA Agent (revise)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        620
      ],
      "webhookId": "a740d0c7-b902-46ea-a892-ea5b2d3d736f",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "7b751702-39e5-4d6e-aab5-38f832bb2ff4",
      "name": "Limit? PM Agent (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9c1fd28-fbb0-4706-9c47-c8a606d91445",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "7a98f809-1071-4c46-9705-a110a13caeeb",
      "name": "Wait PM Agent (revise)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        780
      ],
      "webhookId": "4f9a14ab-2ca3-4cbf-a856-3e590a300cbc",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "ef976641-492d-455d-b79e-71f28bd1c64a",
      "name": "Limit? Dev Agent (redo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        1180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef9bb39f-ad9b-4b94-9f10-9c05a7fe35df",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dce0ca7a-4656-4926-a08e-9dce25894f27",
      "name": "Wait Dev Agent (redo)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1660,
        1360
      ],
      "webhookId": "7e803570-3d96-42e3-8cf8-18e1f590bf23",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "346cecce-3f08-4394-b785-3eaf8addc8c5",
      "name": "Limit? Call Deploy Stage Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8ba6b63-6f9c-4757-89e3-4a037ec36e89",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2c14af9b-6773-41b6-be67-a22fa63a2950",
      "name": "Wait Call Deploy Stage Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        40
      ],
      "webhookId": "f7c4b4e8-4887-4e1e-9f3a-212976e5ebdf",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "3f3bd9f9-e40e-44de-b75a-ae540ba6e6fd",
      "name": "Limit? Call Deploy Prod Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        20
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "06116c04-3ed4-4d14-8959-f7fabf8f6694",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d634cb9d-2db2-49fc-8bff-2e59339035cd",
      "name": "Wait Call Deploy Prod Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        200
      ],
      "webhookId": "32f8b96b-f491-4a4b-b8ef-8a48d108cefa",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "ad6514be-d5db-4296-ade7-66586f86afb2",
      "name": "Limit? Bug Dev Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -1300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec0e40c9-a9c1-4cfe-b426-4550e60e7f8d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "92ce6beb-00d9-4a03-bf02-f1bf8458932c",
      "name": "Wait Bug Dev Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -1120
      ],
      "webhookId": "ab563e70-5990-483b-80db-6cc5e674ff35",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "a1ca2011-a9a4-41c8-9c44-6f2b210b630e",
      "name": "Limit? Review Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf980801-8548-4510-a3cc-e1e0551cf37e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "35b36c5f-dd27-4136-bf88-67a3e9aef4dc",
      "name": "Wait Review Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -440
      ],
      "webhookId": "e87aa27e-9b95-4b83-ac84-f930a5e2666e",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "97fa0aee-e123-4060-bddb-01bb48ba3ef6",
      "name": "Limit? QA Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -460
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd00c31e-2e63-4b3d-9693-39a04c4fc5b2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rate_limited",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "02a3c81f-0f53-4654-9a1e-2f56726a59e1",
      "name": "Wait QA Agent",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1900,
        -280
      ],
      "webhookId": "4b063f48-2237-482b-b1c4-6507364afd5b",
      "parameters": {
        "amount": "={{ ($json.retry_after_seconds || 300) + 60 }}",
        "unit": "seconds"
      }
    }
  ],
  "connections": {
    "GitHub Comment Webhook": {
      "main": [
        [
          {
            "node": "IF Comment Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Comment Created": {
      "main": [
        [
          {
            "node": "Switch: command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch: command": {
      "main": [
        [
          {
            "node": "Get Session (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (redo-dev)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reopen (BA)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip QA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (approve)": {
      "main": [
        [
          {
            "node": "IF Session Found (approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (approve)": {
      "main": [
        [
          {
            "node": "Switch Stage (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (revise)": {
      "main": [
        [
          {
            "node": "IF Session Found (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (revise)": {
      "main": [
        [
          {
            "node": "Switch Stage (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (redo-dev)": {
      "main": [
        [
          {
            "node": "IF Session Found (redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (redo)": {
      "main": [
        [
          {
            "node": "Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (approve)": {
      "main": [
        [
          {
            "node": "Set Milestone Bug Dev Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Deploy Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone TRD Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Planning Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone DEV Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Review Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Test Working",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Milestone Deploy Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Bug Dev Working": {
      "main": [
        [
          {
            "node": "Bug Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bug Dev Agent": {
      "main": [
        [
          {
            "node": "Limit? Bug Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Bug Dev Result": {
      "main": [
        [
          {
            "node": "Set Milestone Bug Dev Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone TRD Working": {
      "main": [
        [
          {
            "node": "SA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Planning Working": {
      "main": [
        [
          {
            "node": "PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Review Working": {
      "main": [
        [
          {
            "node": "Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Agent": {
      "main": [
        [
          {
            "node": "Limit? Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Review Result": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Test Working": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "Limit? QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment QA Result": {
      "main": [
        [
          {
            "node": "Set Milestone DEV Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (revise)": {
      "main": [
        [
          {
            "node": "BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent": {
      "main": [
        [
          {
            "node": "Limit? SA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment SA Result": {
      "main": [
        [
          {
            "node": "Set Milestone TRD Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent": {
      "main": [
        [
          {
            "node": "Limit? PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment PM Result": {
      "main": [
        [
          {
            "node": "Set Milestone Planning Awaiting Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone DEV Working": {
      "main": [
        [
          {
            "node": "Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent": {
      "main": [
        [
          {
            "node": "Limit? Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Dev Result": {
      "main": [
        [
          {
            "node": "Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BA Agent (revise)": {
      "main": [
        [
          {
            "node": "Limit? BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent (revise)": {
      "main": [
        [
          {
            "node": "Limit? SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent (revise)": {
      "main": [
        [
          {
            "node": "Limit? PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent (redo)": {
      "main": [
        [
          {
            "node": "Limit? Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reopen (BA)": {
      "main": [
        [
          {
            "node": "Comment Reopen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip QA": {
      "main": [
        [
          {
            "node": "Comment Skip QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Issues": {
      "main": [
        [
          {
            "node": "Comment Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipeline Status": {
      "main": [
        [
          {
            "node": "Comment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Milestone Deploy Complete": {
      "main": [
        [
          {
            "node": "Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Stage Agent": {
      "main": [
        [
          {
            "node": "Limit? Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Prod Agent": {
      "main": [
        [
          {
            "node": "Limit? Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? SA Agent": {
      "main": [
        [
          {
            "node": "Wait SA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment SA Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait SA Agent": {
      "main": [
        [
          {
            "node": "SA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? PM Agent": {
      "main": [
        [
          {
            "node": "Wait PM Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment PM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait PM Agent": {
      "main": [
        [
          {
            "node": "PM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Dev Agent": {
      "main": [
        [
          {
            "node": "Wait Dev Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Dev Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Dev Agent": {
      "main": [
        [
          {
            "node": "Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? BA Agent (revise)": {
      "main": [
        [
          {
            "node": "Wait BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment BA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait BA Agent (revise)": {
      "main": [
        [
          {
            "node": "BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? SA Agent (revise)": {
      "main": [
        [
          {
            "node": "Wait SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment SA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait SA Agent (revise)": {
      "main": [
        [
          {
            "node": "SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? PM Agent (revise)": {
      "main": [
        [
          {
            "node": "Wait PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment PM Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait PM Agent (revise)": {
      "main": [
        [
          {
            "node": "PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Dev Agent (redo)": {
      "main": [
        [
          {
            "node": "Wait Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Dev Redo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Dev Agent (redo)": {
      "main": [
        [
          {
            "node": "Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Call Deploy Stage Agent": {
      "main": [
        [
          {
            "node": "Wait Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Deploy Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Call Deploy Stage Agent": {
      "main": [
        [
          {
            "node": "Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Call Deploy Prod Agent": {
      "main": [
        [
          {
            "node": "Wait Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Deploy Prod Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Call Deploy Prod Agent": {
      "main": [
        [
          {
            "node": "Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Bug Dev Agent": {
      "main": [
        [
          {
            "node": "Wait Bug Dev Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Bug Dev Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Bug Dev Agent": {
      "main": [
        [
          {
            "node": "Bug Dev Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? Review Agent": {
      "main": [
        [
          {
            "node": "Wait Review Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment Review Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Review Agent": {
      "main": [
        [
          {
            "node": "Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit? QA Agent": {
      "main": [
        [
          {
            "node": "Wait QA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment QA Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait QA Agent": {
      "main": [
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sdlc"
    }
  ]
}