sdlc-agent/n8n-workflow-2-approval.json
{
  "name": "SDLC - 2. Approval Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sdlc-approval",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "comment-trigger",
      "name": "GitHub Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "sdlc-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-created",
      "name": "IF Comment Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('approve') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "approve"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('revise:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('redo-dev:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "redo-dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('reopen:') || $json.body.comment.body.trim().toLowerCase() === 'reopen' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reopen"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase() === 'skip-qa' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "skip-qa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('assign:') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "assign"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.comment.body.trim().toLowerCase().startsWith('status') }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch: command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-approve",
      "name": "Get Session (approve)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-approve",
      "name": "IF Session Found (approve)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-revise",
      "name": "Get Session (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-revise",
      "name": "IF Session Found (revise)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5001/session/{{ $json.body.repository.owner.login }}-{{ $json.body.repository.name }}-{{ $json.body.issue.number }}",
        "options": {
          "allowUnauthorizedCerts": false
        },
        "onError": "continueRegularOutput"
      },
      "id": "get-session-redo",
      "name": "Get Session (redo-dev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-session-redo",
      "name": "IF Session Found (redo)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "ba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "sa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "dev"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "dev",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "review"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "qa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "security",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "security"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "deploy-stage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-stage"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "deploy-prod",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deploy-prod"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-approve",
      "name": "Switch Stage (approve)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "ba",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-ba"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "sa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-sa"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "pm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-pm"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "dev",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-review"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-review"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.session.stage }}",
                    "rightValue": "qa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "revise-qa"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-stage-revise",
      "name": "Switch Stage (revise)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "sa-agent",
      "name": "SA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "pm-agent",
      "name": "PM Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "dev-agent",
      "name": "Dev Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/review-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "review-agent",
      "name": "Review Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/qa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "qa-agent",
      "name": "QA Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/ba-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ba-revise",
      "name": "BA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/sa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "sa-revise",
      "name": "SA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/pm-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "pm-revise",
      "name": "PM Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/review-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "review-revise",
      "name": "Review Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/qa-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"human_feedback\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^revise:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "qa-revise",
      "name": "QA Agent (revise)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/dev-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"redo_instructions\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^redo-dev:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "dev-redo",
      "name": "Dev Agent (redo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/reopen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"reason\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^reopen:?/i, '').trim()) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "reopen-agent",
      "name": "Reopen (BA)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/skip-qa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\" }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "skip-qa-agent",
      "name": "Skip QA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/assign",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}\",\n  \"assignee\": {{ JSON.stringify($('GitHub Comment Webhook').item.json.body.comment.body.replace(/^assign:/i, '').trim()) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "assign-agent",
      "name": "Assign Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udfd7\ufe0f Solution Architect \u2014 Solution Design Document (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '\u26a0\ufe0f Yes \u2014 see Section 11' : '\u2705 None' }}\n**Next step:** Review the SDD. Comment `approve` to proceed to PM, or `revise: <feedback>` to request changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa",
      "name": "Comment SA Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        40
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 PM Agent \u2014 Project Plan\n\n**Dev ready:** {{ $json.dev_ready ? '\u2705 Yes' : '\u23f3 Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n{{ $json.created_issues && $json.created_issues.length > 0 ? '\\n### GitHub Issues Created\\n' + $json.created_issues.map(i => `- [#${i.issue_number} ${i.title}](${i.issue_url})`).join('\\n') : '' }}\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? '\\n### Cross-repo Issues Created\\n' + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || 'err'} ${i.issue_title}](${i.issue_url || '#'})`).join('\\n') : '' }}\n\n**Next step:** Review the plan, then comment `approve` to start development. You can also `revise: <feedback>` to change the task breakdown, or `assign: @username` to assign tasks.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm",
      "name": "Comment PM Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        140
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udcbb Dev Agent \u2014 Implementation {{ $json.test_passed ? 'Complete' : 'Failed' }}\n\n**Tests:** {{ $json.test_passed ? '\u2705 Passing' : '\u274c Failed' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n{{ $json.test_passed ? '' : '\\n> \u26a0\ufe0f Tests failed after all retries. Use `redo-dev: <instructions>` to fix, or push a manual fix to the branch.\\n' }}{{ $json.pr_url ? '**PR:** ' + $json.pr_url : ($json.pr_error ? '**PR:** \u274c ' + $json.pr_error + '\\n\\nTo create the PR manually:\\n```\\ncurl -X POST http://localhost:5001/create-pr -H \"Content-Type: application/json\" -d \\'{\"session_id\": \"{{ $json.session_id || $(\\'GitHub Comment Webhook\\').item.json.body.repository.owner.login + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.repository.name + \\'-\\' + $(\\'GitHub Comment Webhook\\').item.json.body.issue.number }}\"}\\'\\n```' : '') }}\n\n{{ $json.conflicting_prs && $json.conflicting_prs.length > 0 ? '\\n---\\n\u26a0\ufe0f **Potential merge conflicts detected**\\nThe following open PRs touch the same files:\\n' + $json.conflicting_prs.map(p => `- [#${p.number} ${p.title}](${p.url}) \u2014 overlapping files: ${p.overlap.join(', ')}`).join('\\n') + '\\n\\nReview the order you merge these. The second merge will likely need a rebase.' : '' }}\n\n{{ $json.test_passed ? '**Next step:** Comment `approve` to start peer review.' : '**Next step:** Fix the test failures, then comment `redo-dev: <what you fixed>` to re-run.' }}"
      },
      "id": "comment-dev",
      "name": "Comment Dev Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "={{ $json.rebase_conflict ? '## \ud83d\udd0d Review Agent \u2014 \u274c Rebase Conflict\\n\\nBranch `' + $json.branch + '` conflicts with `main` and cannot be reviewed until resolved.\\n\\n**Conflicting files:**\\n' + ($json.blocking_issues || []).map(f => `- \\`${f}\\``).join('\\n') + '\\n\\n**To fix:** check out the branch, run `git rebase main`, resolve conflicts, then push. Or comment `redo-dev: re-implement on latest main` to have the dev agent start fresh.' : '## \ud83d\udd0d Peer Review \u2014 ' + ($json.verdict === 'PASS' ? '\u2705 PASS' : '\u274c FAIL') + '\\n\\n**Blocking issues:** ' + ($json.has_blocking_issues ? $json.blocking_issues.length : 'None') + '\\n**Next step:** ' + ($json.verdict === 'PASS' ? 'Comment `approve` to run QA sign-off. Or `revise: <feedback>` if you disagree.' : 'Developer must fix blocking issues, then comment `redo-dev: <fix description>` to re-run.') + '\\n\\n---\\n\\n' + $json.review }}"
      },
      "id": "comment-review",
      "name": "Comment Review Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        340
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 QA Sign-off \u2014 {{ $json.approved ? '\u2705 APPROVED' : '\u274c REJECTED' }}\n\n**Risk:** {{ $json.risk }}\n**STAGE gate:** {{ $json.stage_gate }}\n**PROD gate:** {{ $json.prod_gate }}\n**Pipeline:** {{ $json.approved ? '\ud83c\udf89 Ready for STAGE deployment.' : '\ud83d\udd04 Returned for fixes.' }}\n\nYou can also `revise: <feedback>` to request changes to this QA report.\n\n---\n\n{{ $json.qa_output }}"
      },
      "id": "comment-qa",
      "name": "Comment QA Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        440
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udccb BA Agent \u2014 Revised BRD\n\n**Needs clarification:** {{ $json.needs_clarification ? '\u26a0\ufe0f Yes \u2014 see Section 14' : '\u2705 No' }}\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-ba-revise",
      "name": "Comment BA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        560
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udfd7\ufe0f Solution Architect \u2014 Revised SDD (v{{ $json.revision_count + 1 }})\n\n**Open questions:** {{ $json.has_open_questions ? '\u26a0\ufe0f Yes \u2014 see Section 11' : '\u2705 None' }}\n**Next step:** Comment `approve` to proceed, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.sdd }}"
      },
      "id": "comment-sa-revise",
      "name": "Comment SA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        660
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 PM Agent \u2014 Revised Plan\n\n**Dev ready:** {{ $json.dev_ready ? '\u2705 Yes' : '\u23f3 Needs answers' }}\n**Issues created:** {{ $json.created_issues ? $json.created_issues.length : 0 }}\n\n{{ $json.cross_repo_issues && $json.cross_repo_issues.length > 0 ? \"### Cross-repo Issues Created\\n\" + $json.cross_repo_issues.map(i => `- [${i.repo}#${i.issue_number || \"err\"} ${i.issue_title}](${i.issue_url || \"#\"})`).join(\"\\n\") + \"\\n\\n\" : \"\" }}**Next step:** Comment `approve` to start development, or `revise: <feedback>` for further changes.\n\n---\n\n{{ $json.pm_output }}"
      },
      "id": "comment-pm-revise",
      "name": "Comment PM Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        760
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 Peer Review \u2014 Revised ({{ $json.verdict === 'PASS' ? '\u2705 PASS' : '\u274c FAIL' }})\n\n**Blocking issues:** {{ $json.has_blocking_issues ? $json.blocking_issues.length : 'None' }}\n**Next step:** {{ $json.verdict === 'PASS' ? 'Comment `approve` to run QA.' : 'Comment `redo-dev: <instructions>` to fix and re-run dev.' }}\n\n---\n\n{{ $json.review }}"
      },
      "id": "comment-review-revise",
      "name": "Comment Review Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        860
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83e\udd16 QA \u2014 Revised Report\n\n**Approved:** {{ $json.approved ? '\u2705 Yes' : '\u274c No' }}\n**STAGE gate:** {{ $json.stage_gate }}\n**PROD gate:** {{ $json.prod_gate }}\n\n---\n\n{{ $json.qa_output }}"
      },
      "id": "comment-qa-revise",
      "name": "Comment QA Revision",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        960
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd04 Dev Agent \u2014 Re-implementation\n\n**Tests:** {{ $json.test_passed ? '\u2705 Passing' : '\u274c Failing' }} ({{ $json.attempts }} attempt(s))\n**Branch:** `{{ $json.branch }}`\n**PR:** {{ $json.pr_url }}\n\n### Summary\n{{ $json.summary }}\n\n**Next step:** Comment `approve` for peer review, or `redo-dev: <more instructions>` for another pass."
      },
      "id": "comment-dev-redo",
      "name": "Comment Dev Redo",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1060
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd01 Pipeline Reopened \u2014 Back to BA\n\n**Next step:** Review the updated BRD. Comment `approve` to proceed to SA.\n\n---\n\n{{ $json.brd }}"
      },
      "id": "comment-reopen",
      "name": "Comment Reopen",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1160
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \u2705 QA Skipped \u2014 Manually Approved\n\n**STAGE gate:** OPEN\n**PROD gate:** BLOCKED (verify on STAGE first)\n**Pipeline:** Ready for STAGE deployment.\n\n{{ $json.qa_output }}"
      },
      "id": "comment-skip-qa",
      "name": "Comment Skip QA",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1260
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udc64 Issues Assigned\n\n**Assignee:** @{{ $json.assignee }}\n**Issues assigned:** {{ $json.results.filter(r => r.assigned).length }} / {{ $json.results.length }}\n\n{{ $json.results.map(r => r.assigned ? `- \u2705 #${r.issue} assigned` : `- \u274c #${r.issue} failed: ${r.error}`).join('\\n') }}"
      },
      "id": "comment-assign",
      "name": "Comment Assign",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        1360
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \u26a0\ufe0f SDLC Pipeline \u2014 Session not found\n\nCould not find session `{{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}-{{ $('GitHub Comment Webhook').item.json.body.repository.name }}-{{ $('GitHub Comment Webhook').item.json.body.issue.number }}`. Make sure the pipeline was started by opening the issue first."
      },
      "id": "comment-no-session",
      "name": "Comment No Session",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1160,
        1460
      ]
    },
    {
      "id": "status-request-001",
      "name": "Get Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "status-comment-001",
      "name": "Comment Status",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1100,
        700
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "={{ $json.status === 'success' ? $json.summary : '\u274c Could not retrieve status: ' + $json.message }}"
      },
      "credentials": {}
    },
    {
      "id": "verify-sig-001",
      "name": "Verify Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.WEBHOOK_SECRET || '';\nif (!secret) return [{json: $input.item.json}]; // skip if no secret configured\n\nconst sig = $input.item.json.headers?.['x-hub-signature-256'] || '';\nconst body = JSON.stringify($input.item.json.body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\n\nif (sig !== expected) {\n  throw new Error('Invalid webhook signature \u2014 request rejected');\n}\nreturn [{json: $input.item.json}];"
      }
    },
    {
      "id": "security-request",
      "name": "Call Security Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1530,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/security-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "security-comment",
      "name": "Comment Security Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1780,
        380
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\udd12 Security Scan \u2014 {{ $json.verdict === 'PASS' ? '\u2705 PASS' : ($json.verdict === 'WARN' ? '\u26a0\ufe0f WARN' : '\u274c FAIL') }}\n\n{{ $json.security_output }}\n\n**Next step:** {{ $json.passed ? 'Comment `approve` to run peer review.' : 'Fix security issues, then comment `redo-dev: <fix>` to re-run dev.' }}"
      }
    },
    {
      "id": "deploy-stage-request",
      "name": "Call Deploy Stage Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1530,
        580
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "stage"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-stage-comment",
      "name": "Comment Deploy Stage Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1780,
        580
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83d\ude80 Stage Deployment \u2014 {{ $json.overall_ok ? '\u2705 Success' : '\u274c Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '\u2705' : '\u274c' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '\u2705 Passed' : '\u274c Failed' }} {{ $json.smoke_output }}\n{{ $json.merge_result && $json.merge_result.merged ? '**PR:** Merged \u2705' : '' }}\n\n**Next step:** {{ $json.overall_ok ? 'Comment `approve` to deploy to production.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    },
    {
      "id": "deploy-prod-request",
      "name": "Call Deploy Prod Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1530,
        780
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/deploy-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "owner",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}"
            },
            {
              "name": "repo",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}"
            },
            {
              "name": "issue_number",
              "value": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}"
            },
            {
              "name": "env",
              "value": "prod"
            }
          ]
        },
        "options": {
          "timeout": 1800000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "deploy-prod-comment",
      "name": "Comment Deploy Prod Result",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1780,
        780
      ],
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "={{ $('GitHub Comment Webhook').item.json.body.repository.owner.login }}",
        "repository": "={{ $('GitHub Comment Webhook').item.json.body.repository.name }}",
        "issueNumber": "={{ $('GitHub Comment Webhook').item.json.body.issue.number }}",
        "body": "=## \ud83c\udf89 Production Deployment \u2014 {{ $json.overall_ok ? '\u2705 Complete' : '\u274c Failed' }}\n\n**Deploy:** {{ $json.deploy_ok ? '\u2705' : '\u274c' }} {{ $json.deploy_output }}\n**Smoke test:** {{ $json.smoke_ok ? '\u2705 Passed' : '\u274c Failed' }}\n{{ $json.release_url ? '**Release:** ' + $json.release_url : '' }}\n{{ $json.branch_deleted ? '**Branch:** Cleaned up \u2705' : '' }}\n\n{{ $json.overall_ok ? '\ud83c\udfc1 Pipeline complete.' : 'Fix deploy issues and comment `approve` to retry.' }}"
      }
    },
    {
      "id": "slack-notify",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2030,
        380
      ],
      "parameters": {
        "operation": "postMessage",
        "channel": "={{ $env.SLACK_CHANNEL || '#deployments' }}",
        "text": "={{ '[' + $('GitHub Comment Webhook').item.json.body.repository.full_name + '] ' + ($json.stage || 'pipeline') + ' \u2014 ' + ($json.overall_ok !== undefined ? ($json.overall_ok ? '\u2705' : '\u274c') : ($json.verdict === 'PASS' ? '\u2705' : '\u274c')) + ' ' + ($json.issue_title || '') }}",
        "attachments": []
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "GitHub Comment Webhook": {
      "main": [
        [
          {
            "node": "IF Comment Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Comment Created": {
      "main": [
        [
          {
            "node": "Switch: command",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch: command": {
      "main": [
        [
          {
            "node": "Get Session (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Session (redo-dev)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reopen (BA)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip QA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assign Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (approve)": {
      "main": [
        [
          {
            "node": "IF Session Found (approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (approve)": {
      "main": [
        [
          {
            "node": "Switch Stage (approve)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (revise)": {
      "main": [
        [
          {
            "node": "IF Session Found (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (revise)": {
      "main": [
        [
          {
            "node": "Switch Stage (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session (redo-dev)": {
      "main": [
        [
          {
            "node": "IF Session Found (redo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Session Found (redo)": {
      "main": [
        [
          {
            "node": "Dev Agent (redo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment No Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (approve)": {
      "main": [
        [
          {
            "node": "SA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PM Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dev Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QA Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Security Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deploy Stage Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deploy Prod Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage (revise)": {
      "main": [
        [
          {
            "node": "BA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PM Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review Agent (revise)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QA Agent (revise)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent": {
      "main": [
        [
          {
            "node": "Comment SA Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent": {
      "main": [
        [
          {
            "node": "Comment PM Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent": {
      "main": [
        [
          {
            "node": "Comment Dev Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Agent": {
      "main": [
        [
          {
            "node": "Comment Review Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent": {
      "main": [
        [
          {
            "node": "Comment QA Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BA Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment BA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SA Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment SA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment PM Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment Review Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Agent (revise)": {
      "main": [
        [
          {
            "node": "Comment QA Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev Agent (redo)": {
      "main": [
        [
          {
            "node": "Comment Dev Redo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reopen (BA)": {
      "main": [
        [
          {
            "node": "Comment Reopen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip QA": {
      "main": [
        [
          {
            "node": "Comment Skip QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Issues": {
      "main": [
        [
          {
            "node": "Comment Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pipeline Status": {
      "main": [
        [
          {
            "node": "Comment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Security Agent": {
      "main": [
        [
          {
            "node": "Comment Security Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Stage Agent": {
      "main": [
        [
          {
            "node": "Comment Deploy Stage Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Deploy Prod Agent": {
      "main": [
        [
          {
            "node": "Comment Deploy Prod Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Security Result": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sdlc"
    }
  ]
}