Dolibarr-EBay/archive-webapp-and-n8n/n8n-approve.json
{
  "name": "eBay Reconciliation - Approve Adjustment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ebay-approve",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0001-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1600, 0],
      "webhookId": "ebay-approve"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate incoming payload. FastAPI sends:\n//   { action, orderId, orderRef, orderNumber, parentInvoiceId, amount, label }\nconst body = items[0].json.body || items[0].json;\nconst required = ['action', 'orderId', 'orderNumber', 'parentInvoiceId', 'amount'];\nconst missing = required.filter(k => body[k] === undefined || body[k] === null || body[k] === '');\nif (missing.length) {\n  throw new Error('Missing required fields: ' + missing.join(', '));\n}\nif (body.action !== 'credit_note' && body.action !== 'invoice') {\n  throw new Error(`Unsupported action: ${body.action}. Use 'credit_note' or 'invoice'.`);\n}\nconst amount = Number(body.amount);\nif (!Number.isFinite(amount) || amount <= 0) {\n  throw new Error('amount must be a positive number (we toggle direction via action type)');\n}\nreturn [{ json: {\n  action: body.action,\n  orderId: String(body.orderId),\n  orderRef: body.orderRef || null,\n  orderNumber: String(body.orderNumber),\n  parentInvoiceId: String(body.parentInvoiceId),\n  amount: Math.round(amount * 100) / 100,\n  label: body.label || `eBay reconciliation - ${body.orderNumber}`,\n}}];"
      },
      "id": "0002-validate-input",
      "name": "Validate input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1400, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://staging.txscorp.com/api/index.php/invoices/{{$json.parentInvoiceId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "id": "0003-get-parent",
      "name": "GET parent invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Combine validated input with the parent invoice to build the Dolibarr POST body.\nconst input = $('Validate input').first().json;\nconst parent = items[0].json;\nif (!parent || !parent.socid) {\n  throw new Error('Parent invoice ' + input.parentInvoiceId + ' has no socid; cannot create adjustment');\n}\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst payload = {\n  socid: parent.socid,\n  type: input.action === 'credit_note' ? 2 : 0,\n  ref_client: input.orderNumber,\n  date: nowUnix,\n  note_private: `Auto-created via eBay reconciliation. eBay order: ${input.orderNumber}. Source invoice: ${parent.ref} (id ${parent.id}).`,\n  lines: [{\n    desc: input.label,\n    qty: 1,\n    subprice: input.amount,\n    tva_tx: 0,\n  }],\n};\nif (input.action === 'credit_note') {\n  payload.fk_facture_source = input.parentInvoiceId;\n}\nreturn [{ json: { _input: input, _parent: { id: parent.id, ref: parent.ref, socid: parent.socid }, _payload: payload } }];"
      },
      "id": "0004-build",
      "name": "Build Dolibarr payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://staging.txscorp.com/api/index.php/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._payload) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0005-post-create",
      "name": "POST create document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse the create-document response: Dolibarr returns the new invoice id as\n// either a bare integer or {error: ...}. Stash newDocId on the context for the\n// rest of the chain.\nconst raw = items[0].json;\nconst input = $('Validate input').first().json;\nconst parent = $('Build Dolibarr payload').first().json._parent;\n\nlet newId = null;\nif (typeof raw === 'number') newId = raw;\nelse if (typeof raw === 'string' && /^\\d+$/.test(raw)) newId = Number(raw);\nelse if (raw && typeof raw === 'object' && raw.id) newId = raw.id;\n\nif (!newId) {\n  const msg = (raw && raw.error && (raw.error.message || raw.error['0'])) || JSON.stringify(raw).slice(0, 400);\n  throw new Error('Create failed: ' + msg);\n}\n\nreturn [{ json: { _input: input, _parent: parent, newDocId: String(newId) } }];"
      },
      "id": "0006-parse-create",
      "name": "Parse create response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://staging.txscorp.com/api/index.php/invoices/{{$json.newDocId}}/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0007-validate-doc",
      "name": "POST validate doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate response: full invoice object with assigned ref (e.g. IC2605-0521).\nconst raw = items[0].json;\nconst prior = $('Parse create response').first().json;\nif (raw && raw.error) {\n  throw new Error('Validate failed: ' + (raw.error.message || JSON.stringify(raw.error)));\n}\nconst validatedRef = raw && raw.ref ? raw.ref : null;\nconst input = prior._input;\nreturn [{ json: {\n  ...prior,\n  validatedRef,\n  action: input.action,\n}}];"
      },
      "id": "0008-parse-validate",
      "name": "Parse validate response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "isCn", "leftValue": "={{$json.action}}", "rightValue": "credit_note", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "0009-if-credit",
      "name": "IF credit_note?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://staging.txscorp.com/api/index.php/invoices/{{$json.newDocId}}/markAsCreditAvailable",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0010-mark-available",
      "name": "POST markAsCreditAvailable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://staging.txscorp.com/api/index.php/thirdparties/{{ $('Build Dolibarr payload').first().json._parent.socid }}/fixedamountdiscounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "id": "0011-get-discounts",
      "name": "GET available discounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, -100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// The discounts response is a list of objects. Find the entry whose\n// fk_facture_source equals our newly-validated CN id; that's the rowid to apply.\nconst prior = $('Parse validate response').first().json;\nconst all = items.map(i => i.json);\nconst rowid = (() => {\n  for (const x of all) {\n    if (String(x.fk_facture_source) === String(prior.newDocId)) return String(x.rowid);\n  }\n  return null;\n})();\nif (!rowid) {\n  const debug = all.slice(0, 3).map(x => `ref=${x.ref} src=${x.fk_facture_source} rowid=${x.rowid}`).join(' | ');\n  throw new Error(`Could not find discount rowid for new CN (newDocId=${prior.newDocId}). Sample: ${debug}`);\n}\nreturn [{ json: { ...prior, discountRowid: rowid } }];"
      },
      "id": "0012-find-rowid",
      "name": "Find discount rowid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://staging.txscorp.com/api/index.php/invoices/{{$json._parent.id}}/usediscount/{{$json.discountRowid}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0013-apply-discount",
      "name": "POST usediscount on parent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, -100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Final shape. Accepts items from EITHER branch:\n//   - credit_note path: came through 'POST usediscount on parent' (HTTP response)\n//   - invoice path: came through 'IF credit_note?' false branch (carries the\n//     parse-validate context as $json)\n// In both cases the prior ctx is in $('Parse validate response').first().json.\nconst ctx = $('Parse validate response').first().json;\nconst input = $('Validate input').first().json;\nconst parent = ctx._parent;\nconst newId = ctx.newDocId;\nconst validatedRef = ctx.validatedRef;\nconst action = input.action;\n\nlet applied = false;\nlet appliedDiscountRowid = null;\nlet usedResult = null;\nif (action === 'credit_note') {\n  // For CN path, items[0].json is the usediscount response (usually `1`).\n  const useResp = items[0].json;\n  usedResult = useResp;\n  applied = useResp === 1 || useResp === '1' || (useResp && useResp.toString && useResp.toString().trim() === '1');\n  appliedDiscountRowid = $('Find discount rowid').first().json.discountRowid;\n  if (!applied) {\n    return [{ json: {\n      ok: false,\n      stage: 'usediscount',\n      newInvoiceId: newId,\n      validatedRef,\n      action,\n      parent,\n      error: 'usediscount returned: ' + JSON.stringify(useResp).slice(0, 200),\n      dolibarrEditUrl: `https://staging.txscorp.com/compta/facture/card.php?id=${newId}`,\n    }}];\n  }\n}\n\nreturn [{ json: {\n  ok: true,\n  action,\n  newInvoiceId: newId,\n  newInvoiceRef: validatedRef,\n  validated: true,\n  applied,\n  appliedDiscountRowid,\n  parent,\n  orderNumber: input.orderNumber,\n  orderRef: input.orderRef,\n  amount: input.amount,\n  status: 'validated' + (applied ? ' + applied' : ''),\n  dolibarrEditUrl: `https://staging.txscorp.com/compta/facture/card.php?id=${newId}`,\n  parentInvoiceUrl: `https://staging.txscorp.com/compta/facture/card.php?id=${parent.id}`,\n  message: action === 'credit_note'\n    ? `Created and validated credit note ${validatedRef} for ${input.amount.toFixed(2)}, then applied it as a discount on ${parent.ref}.`\n    : `Created and validated invoice ${validatedRef} for ${input.amount.toFixed(2)} on customer ${parent.socid}.`,\n}}];"
      },
      "id": "0014-shape",
      "name": "Shape response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "0015-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Webhook":                  { "main": [[{ "node": "Validate input", "type": "main", "index": 0 }]] },
    "Validate input":           { "main": [[{ "node": "GET parent invoice", "type": "main", "index": 0 }]] },
    "GET parent invoice":       { "main": [[{ "node": "Build Dolibarr payload", "type": "main", "index": 0 }]] },
    "Build Dolibarr payload":   { "main": [[{ "node": "POST create document", "type": "main", "index": 0 }]] },
    "POST create document":     { "main": [[{ "node": "Parse create response", "type": "main", "index": 0 }]] },
    "Parse create response":    { "main": [[{ "node": "POST validate doc", "type": "main", "index": 0 }]] },
    "POST validate doc":        { "main": [[{ "node": "Parse validate response", "type": "main", "index": 0 }]] },
    "Parse validate response":  { "main": [[{ "node": "IF credit_note?", "type": "main", "index": 0 }]] },
    "IF credit_note?": {
      "main": [
        [{ "node": "POST markAsCreditAvailable", "type": "main", "index": 0 }],
        [{ "node": "Shape response", "type": "main", "index": 0 }]
      ]
    },
    "POST markAsCreditAvailable": { "main": [[{ "node": "GET available discounts", "type": "main", "index": 0 }]] },
    "GET available discounts":    { "main": [[{ "node": "Find discount rowid", "type": "main", "index": 0 }]] },
    "Find discount rowid":        { "main": [[{ "node": "POST usediscount on parent", "type": "main", "index": 0 }]] },
    "POST usediscount on parent": { "main": [[{ "node": "Shape response", "type": "main", "index": 0 }]] },
    "Shape response":             { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "dolibarr-ebay-approve" },
  "tags": [{ "name": "Dolibarr" }, { "name": "eBay" }, { "name": "Reconciliation" }, { "name": "Approve" }]
}
