Dolibarr-EBay/archive-webapp-and-n8n/n8n-reconcile.json
{
  "name": "eBay Payout to Dolibarr Reconciliation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ebay-reconcile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0001-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 0],
      "webhookId": "ebay-reconcile"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse the eBay payout CSV. The webhook receives JSON {filename, data} where\n// data is the base64-encoded CSV. (This avoids n8n's binary-property handling.)\nconst body = items[0].json.body || items[0].json;\nif (!body.data) {\n  throw new Error('Expected JSON body with a base64 `data` field. Got keys: ' + Object.keys(body).join(', '));\n}\nconst text = Buffer.from(body.data, 'base64').toString('utf8');\nconst lines = text.split(/\\r?\\n/);\nconst headerIdx = lines.findIndex(l => l.startsWith('\"Transaction creation date\"'));\nif (headerIdx === -1) throw new Error('Header row not found - upload an eBay payout CSV');\n\nfunction parseRow(line) {\n  const out = [];\n  let cur = '', inQ = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (c === '\"') { inQ = !inQ; continue; }\n    if (c === ',' && !inQ) { out.push(cur); cur = ''; continue; }\n    cur += c;\n  }\n  out.push(cur);\n  return out;\n}\n\nconst header = parseRow(lines[headerIdx]);\nconst orderCol = header.indexOf('Order number');\nconst netCol = header.indexOf('Net amount');\nconst typeCol = header.indexOf('Type');\nif (orderCol < 0 || netCol < 0) throw new Error('Required columns not found');\nconst dateCol = header.indexOf('Transaction creation date');\nconst descCol = header.indexOf('Description');\nconst payoutDateCol = header.indexOf('Payout date');\nconst payoutIdCol = header.indexOf('Payout ID');\nconst payoutMethodCol = header.indexOf('Payout method');\n\n// Payout metadata (constant across all rows) - extracted from the first valid data row.\nlet payout = null;\nfor (let i = headerIdx + 1; i < lines.length && !payout; i++) {\n  const r = parseRow(lines[i]);\n  const pid = payoutIdCol >= 0 ? (r[payoutIdCol] || '').trim() : '';\n  if (pid && pid !== '--') {\n    payout = {\n      id: pid,\n      date: payoutDateCol >= 0 ? (r[payoutDateCol] || '').trim() : '',\n      dateUnix: 0,\n      method: payoutMethodCol >= 0 ? (r[payoutMethodCol] || '').trim() : '',\n    };\n    const ts = Date.parse(payout.date);\n    if (Number.isFinite(ts)) payout.dateUnix = Math.floor(ts / 1000);\n  }\n}\n\nconst groups = new Map();\nfor (let i = headerIdx + 1; i < lines.length; i++) {\n  const row = parseRow(lines[i]);\n  const order = (row[orderCol] || '').trim();\n  const netRaw = (row[netCol] || '').replace(/,/g, '').trim();\n  if (!order || order === '--') continue;\n  if (!netRaw || netRaw === '--') continue;\n  const net = Number(netRaw);\n  if (!Number.isFinite(net)) continue;\n  const g = groups.get(order) || { orderNumber: order, ebayNet: 0, rows: 0, types: new Set(), lines: [] };\n  g.ebayNet += net;\n  g.rows += 1;\n  const type = (row[typeCol] || '').trim();\n  g.types.add(type);\n  g.lines.push({\n    date: dateCol >= 0 ? (row[dateCol] || '').trim() : '',\n    type,\n    net: Math.round(net * 100) / 100,\n    description: descCol >= 0 ? (row[descCol] || '').trim() : '',\n  });\n  groups.set(order, g);\n}\n\nreturn Array.from(groups.values()).map(g => ({\n  json: { orderNumber: g.orderNumber, ebayNet: Math.round(g.ebayNet * 100) / 100, rows: g.rows, types: Array.from(g.types), lines: g.lines, _payout: payout }\n}));"
      },
      "id": "0002-parse",
      "name": "Parse and Group",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://staging.txscorp.com/api/index.php/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "1" },
            { "name": "sqlfilters", "value": "=(t.ref_client:=:'{{$json.orderNumber.replace(/'/g, \"''\")}}')" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0003-find-order",
      "name": "Find SO by ref_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Match each Find SO response back to its eBay context via ref_client. Emit MISSING\n// for any eBay orders Dolibarr didn't return.\nconst ebayMap = new Map();\nfor (const e of $('Parse and Group').all()) {\n  ebayMap.set(e.json.orderNumber, e.json);\n}\n\nconst seen = new Set();\nconst out = [];\n\nfor (const it of items) {\n  const so = it.json;\n  if (!so || !so.id || !so.ref_client) continue;\n  const ebay = ebayMap.get(so.ref_client);\n  if (!ebay) continue;\n  seen.add(so.ref_client);\n  out.push({ json: {\n    orderNumber: ebay.orderNumber,\n    ebayNet:     ebay.ebayNet,\n    ebayRows:    ebay.rows,\n    ebayTypes:   ebay.types,\n    ebayLines:   ebay.lines,\n    dolOrderId:  so.id,\n    dolOrderRef: so.ref,\n    status:      'pending',\n  }});\n}\n\nfor (const [orderNumber, ebay] of ebayMap) {\n  if (seen.has(orderNumber)) continue;\n  out.push({ json: {\n    orderNumber: ebay.orderNumber,\n    ebayNet:     ebay.ebayNet,\n    ebayRows:    ebay.rows,\n    ebayTypes:   ebay.types,\n    ebayLines:   ebay.lines,\n    dolOrderId:  null,\n    dolOrderRef: null,\n    dolNet:      0,\n    diff:        ebay.ebayNet,\n    invoices:    [],\n    status:      'MISSING_IN_DOLIBARR',\n  }});\n}\n\nreturn out;"
      },
      "id": "0004-classify",
      "name": "Classify (found/missing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "f1", "leftValue": "={{$json.status}}", "rightValue": "pending", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "0005-if-found",
      "name": "IF order found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://staging.txscorp.com/api/index.php/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "limit", "value": "50" },
            { "name": "sqlfilters", "value": "=(t.ref_client:=:'{{$json.orderNumber.replace(/'/g, \"''\")}}')" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0006-get-docs",
      "name": "GET invoices and CNs by ref_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, -100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Single aggregator: walks every Dolibarr invoice/CN that came in via the\n// ref_client query, groups by ref_client, sums total_ht. Then iterates over\n// every 'pending' (found-in-Dolibarr) eBay order from Classify to produce one\n// output row per order with status MATCH / MISMATCH / NO_LINKED_INVOICES.\n\nconst pending = $('Classify (found/missing)').all()\n  .map(x => x.json)\n  .filter(x => x.status === 'pending');\n\n// Build {orderNumber: [docs...]} from incoming items (auto-split by n8n).\nconst byOrder = new Map();\nfor (const it of items) {\n  const d = it.json;\n  if (!d || !d.id || !d.ref_client) continue;\n  const isCredit = String(d.type) === '2';\n  const amt = Number(d.total_ht || 0); // Dolibarr already stores CN total_ht as negative.\n  const list = byOrder.get(d.ref_client) || [];\n  list.push({ id: d.id, ref: d.ref, type: isCredit ? 'credit_note' : 'invoice', totalHt: Math.round(amt * 100) / 100 });\n  byOrder.set(d.ref_client, list);\n}\n\nconst out = [];\nfor (const ctx of pending) {\n  const docs = byOrder.get(ctx.orderNumber) || [];\n  // Only invoices (type=0) feed dolNet. Applied credit notes already reduce the\n  // invoice's total_ht via a discount line, so counting them again would\n  // double-count. CNs are kept in `docs` for UI visibility.\n  const invoices = docs.filter(d => d.type === 'invoice');\n  let dolNet = 0;\n  for (const d of invoices) dolNet += d.totalHt;\n  dolNet = Math.round(dolNet * 100) / 100;\n  const diff = Math.round((ctx.ebayNet - dolNet) * 100) / 100;\n  let status;\n  if (invoices.length === 0) status = 'NO_LINKED_INVOICES';\n  else if (Math.abs(diff) > 0.01) status = 'MISMATCH';\n  else status = 'MATCH';\n  out.push({ json: {\n    orderNumber: ctx.orderNumber,\n    ebayNet:     ctx.ebayNet,\n    ebayRows:    ctx.ebayRows,\n    ebayTypes:   ctx.ebayTypes,\n    ebayLines:   ctx.ebayLines,\n    dolOrderId:  ctx.dolOrderId,\n    dolOrderRef: ctx.dolOrderRef,\n    dolNet,\n    diff,\n    invoices:    docs,\n    status,\n  }});\n}\nreturn out;"
      },
      "id": "0007-aggregate",
      "name": "Aggregate by order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, -100]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "0008-merge",
      "name": "Merge found + missing",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Final summary + filtered lists + payout metadata for downstream Pay calls.\nconst all = items.map(i => i.json);\nconst matches  = all.filter(r => r.status === 'MATCH');\nconst mismatch = all.filter(r => r.status === 'MISMATCH');\nconst missing  = all.filter(r => r.status === 'MISSING_IN_DOLIBARR');\nconst noInv    = all.filter(r => r.status === 'NO_LINKED_INVOICES');\nconst payout   = $('Parse and Group').first().json._payout || null;\nreturn [{\n  json: {\n    summary: {\n      ordersCompared:    all.length,\n      matches:           matches.length,\n      mismatches:        mismatch.length,\n      missingInDolibarr: missing.length,\n      noLinkedInvoices:  noInv.length,\n    },\n    payout,\n    discrepancies: [...mismatch, ...missing, ...noInv],\n    matches,\n  }\n}];"
      },
      "id": "0009-summary",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "0010-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse and Group", "type": "main", "index": 0 }]] },
    "Parse and Group": { "main": [[{ "node": "Find SO by ref_client", "type": "main", "index": 0 }]] },
    "Find SO by ref_client": { "main": [[{ "node": "Classify (found/missing)", "type": "main", "index": 0 }]] },
    "Classify (found/missing)": { "main": [[{ "node": "IF order found", "type": "main", "index": 0 }]] },
    "IF order found": {
      "main": [
        [{ "node": "GET invoices and CNs by ref_client", "type": "main", "index": 0 }],
        [{ "node": "Merge found + missing", "type": "main", "index": 1 }]
      ]
    },
    "GET invoices and CNs by ref_client": { "main": [[{ "node": "Aggregate by order", "type": "main", "index": 0 }]] },
    "Aggregate by order": { "main": [[{ "node": "Merge found + missing", "type": "main", "index": 0 }]] },
    "Merge found + missing": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "dolibarr-ebay-reconcile" },
  "tags": [{ "name": "Dolibarr" }, { "name": "eBay" }, { "name": "Reconciliation" }]
}
