Dolibarr-EBay/archive-webapp-and-n8n/n8n-create-invoice.json
{
  "name": "eBay Reconciliation - Create Missing Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ebay-create-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0001-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 0],
      "webhookId": "ebay-create-invoice"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate incoming payload. FastAPI sends:\n//   {\n//     orderNumber, ebayNet, lines: [{date, type, net, description}],\n//     parentSoId?       // present for NO_LINKED_INVOICES (existing SO, no invoice yet)\n//     defaultSocid?     // present for MISSING_IN_DOLIBARR (no SO at all)\n//   }\nconst body = items[0].json.body || items[0].json;\nif (!body.orderNumber) throw new Error('orderNumber is required');\nif (!Array.isArray(body.lines) || body.lines.length === 0) throw new Error('lines[] is required and non-empty');\nif (!body.parentSoId && !body.defaultSocid) {\n  throw new Error('Need either parentSoId (NO_LINKED_INVOICES) or defaultSocid (MISSING_IN_DOLIBARR)');\n}\n\nconst mode = body.parentSoId ? 'from_so' : 'standalone';\n\nreturn [{ json: {\n  mode,\n  orderNumber:   String(body.orderNumber),\n  ebayNet:       Number(body.ebayNet || 0),\n  lines:         body.lines,\n  parentSoId:    body.parentSoId ? String(body.parentSoId) : null,\n  defaultSocid:  body.defaultSocid ? String(body.defaultSocid) : null,\n  label:         body.label || `eBay reconciliation - ${body.orderNumber}`,\n}}];"
      },
      "id": "0002-validate",
      "name": "Validate input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "mode", "leftValue": "={{$json.mode}}", "rightValue": "from_so", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "0003-if-mode",
      "name": "IF has SO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1000, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://staging.txscorp.com/api/index.php/orders/{{$json.parentSoId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "id": "0004-get-so",
      "name": "GET parent SO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-800, -100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Combine validated input with the parent SO (if any) and build the Dolibarr\n// POST body. Lines come from the eBay CSV breakdown so the new invoice mirrors\n// the per-row eBay activity.\nconst input = $('Validate input').first().json;\nconst hasSO = input.mode === 'from_so';\nconst so = hasSO ? items[0].json : null;\nif (hasSO && (!so || !so.socid)) {\n  throw new Error('Parent SO ' + input.parentSoId + ' could not be fetched or has no socid');\n}\nconst socid = hasSO ? so.socid : input.defaultSocid;\nconst nowUnix = Math.floor(Date.now() / 1000);\n\nconst payload = {\n  socid,\n  type: 0,  // regular invoice; negative lines reduce total - Dolibarr handles mixed-sign lines\n  ref_client: input.orderNumber,\n  date: nowUnix,\n  note_private: `Auto-created via eBay reconciliation. eBay order: ${input.orderNumber}.${hasSO ? ` Linked to SO ${so.ref} (id ${so.id}).` : ' No SO existed; using default eBay customer.'}`,\n  lines: input.lines.map(l => ({\n    desc: `[${l.type || 'eBay'}] ${l.description || ''} (${l.date || ''})`.replace(/\\s+\\(\\)/, '').trim(),\n    qty: 1,\n    subprice: Number(l.net || 0),\n    tva_tx: 0,\n  })),\n};\n\nif (hasSO) {\n  payload.fk_facture_source = null;\n  payload.origin_type = 'commande';\n  payload.origin_id   = Number(input.parentSoId);\n}\n\nreturn [{ json: {\n  _input: input,\n  _so: hasSO ? { id: so.id, ref: so.ref, socid: so.socid } : null,\n  _socid: String(socid),\n  _payload: payload,\n}}];"
      },
      "id": "0005-build",
      "name": "Build Dolibarr payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://staging.txscorp.com/api/index.php/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._payload) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0006-post-create",
      "name": "POST create invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Parse create-invoice response; Dolibarr returns the new id as a bare integer\n// or {error: ...}. Stash newInvoiceId for the validate step.\nconst raw = items[0].json;\nconst prior = $('Build Dolibarr payload').first().json;\nconst input = prior._input;\n\nlet newId = null;\nif (typeof raw === 'number') newId = raw;\nelse if (typeof raw === 'string' && /^\\d+$/.test(raw)) newId = Number(raw);\nelse if (raw && typeof raw === 'object' && raw.id) newId = raw.id;\n\nif (!newId) {\n  const msg = (raw && raw.error && (raw.error.message || raw.error['0'])) || JSON.stringify(raw).slice(0, 400);\n  throw new Error('Create invoice failed: ' + msg);\n}\n\nreturn [{ json: { ...prior, newInvoiceId: String(newId), _input: input } }];"
      },
      "id": "0007-parse-create",
      "name": "Parse create response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://staging.txscorp.com/api/index.php/invoices/{{$json.newInvoiceId}}/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "0008-validate-doc",
      "name": "POST validate invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Final shape: surface the new invoice ref, link, and bookkeeping context.\nconst raw = items[0].json;\nconst prior = $('Parse create response').first().json;\nconst input = prior._input;\nconst newId = prior.newInvoiceId;\nconst so = prior._so;\nconst socid = prior._socid;\n\nif (raw && raw.error) {\n  throw new Error('Validate failed: ' + (raw.error.message || JSON.stringify(raw.error)));\n}\nconst validatedRef = (raw && raw.ref) ? raw.ref : null;\nconst totalHt = raw && raw.total_ht != null ? Number(raw.total_ht) : null;\n\nreturn [{ json: {\n  ok: true,\n  mode: input.mode,\n  orderNumber: input.orderNumber,\n  newInvoiceId: newId,\n  newInvoiceRef: validatedRef,\n  totalHt,\n  socid,\n  so,\n  validated: true,\n  dolibarrEditUrl: `https://staging.txscorp.com/compta/facture/card.php?id=${newId}`,\n  message: input.mode === 'from_so'\n    ? `Created and validated invoice ${validatedRef} for ${(totalHt||0).toFixed(2)}, linked to SO ${so ? so.ref : ''}.`\n    : `Created and validated invoice ${validatedRef} for ${(totalHt||0).toFixed(2)} under customer ${socid} (no SO).`,\n}}];"
      },
      "id": "0009-shape",
      "name": "Shape response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "0010-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [400, 0]
    }
  ],
  "connections": {
    "Webhook":                 { "main": [[{ "node": "Validate input", "type": "main", "index": 0 }]] },
    "Validate input":          { "main": [[{ "node": "IF has SO?", "type": "main", "index": 0 }]] },
    "IF has SO?": {
      "main": [
        [{ "node": "GET parent SO", "type": "main", "index": 0 }],
        [{ "node": "Build Dolibarr payload", "type": "main", "index": 0 }]
      ]
    },
    "GET parent SO":           { "main": [[{ "node": "Build Dolibarr payload", "type": "main", "index": 0 }]] },
    "Build Dolibarr payload":  { "main": [[{ "node": "POST create invoice", "type": "main", "index": 0 }]] },
    "POST create invoice":     { "main": [[{ "node": "Parse create response", "type": "main", "index": 0 }]] },
    "Parse create response":   { "main": [[{ "node": "POST validate invoice", "type": "main", "index": 0 }]] },
    "POST validate invoice":   { "main": [[{ "node": "Shape response", "type": "main", "index": 0 }]] },
    "Shape response":          { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "dolibarr-ebay-create-invoice" },
  "tags": [{ "name": "Dolibarr" }, { "name": "eBay" }, { "name": "Reconciliation" }, { "name": "CreateInvoice" }]
}
